<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">src="<%= campground.title %>"</h5>
              <p class="card-text">src="<%= campground.descriprion %>"</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted">src="<%= campground.loaction %>"</li>
              <li class="list-group-item">src="$<%= campground.price %>/night"</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-warning" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form> 
                
            </div>
            <form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>  
        </div>
    </div>
</div>

<footer>
    <a href="/campgrounds">All Campgrounds</a>
</footer>

